<div class="container">
    <a href="#">TokoKelompok4</a>
    <ul class="navlinks">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Shop Now</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <div class="icons">
        <i class="fas fa-search"></i>
        <i class="fas fa-user"></i>
        <i class="fas fa-shopping-cart">
            <span class="cart-count">2</span>
    </div>
</div>